# Node
*.log
*.log.*
node_modules
*.zip
out/
dist/
code.js
*.jpg
*.json
.pt

pic_server_python/figma_data/*
pic_server_python/GNN_dataset_Apr/*
pic_server_python/ipynb_checkpoints/*
pic_server_python/checkpoints/*
